body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-image: linear-gradient(to right top, #0a0524, #051c37, #002e48, #004156, #005462, #005e70, #00687e, #00728d, #0072a4, #306eb6, #6a63bb, #9d51b1);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.navbar
{
    padding: 10px;
    border: 1px solid;
    box-sizing: 0px 4px 3px;
    box-shadow: 0px 3px 3px;
    position: sticky;
    top: 5px;
}
.nav a{
    margin-left: 5px;
    padding: 0px 5px;
    text-decoration: none;  
    color:ivory;
}
a:hover
{
    color: rgba(173, 98, 207, 0.87);
}
.right
{
    float: right;
}
.text
{
    width: 50%;
    margin: auto;
    padding: 20px;
}
h1{
    font-size: 100px;
    color: black;
    text-shadow: 1px 2px 3px rgb(146, 8, 8);
}
#gallery
{
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

        /* margin: 20px; */
    padding: 20px;
}
.image-card
{
    margin: 20px;
    padding: 10px;
   width: fit-content;
   height: fit-content;
   background-color: blanchedalmond;
   box-shadow: 0px 3px 3px;

}