*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 90%;
    height: 100%;
    margin: 20px auto;
    /* background-color: black; */
    display: flex;
    /* grid-template-columns: 20% 20% 20% 20%; */
    /* row-gap: 20px; */
    column-gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
.card
{
    margin: auto;
    display: flex;
    background-color: white;
    /* border: 2px solid; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    background-color: black;
}
.card:hover
{
     box-shadow: 0px 0px 8px,0px 0px 8px, 0px 0px 9px;
}
p
{
    color: rgb(149, 119, 204);
    font-size: 24px;
    text-align:center;
}
p::first-line
{
    font-weight: bolder;
    text-transform: uppercase;
}
.img-holder img
{
    border-radius: 20px 20px 0px 0px;
}