*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
ul
{
    list-style-type: none;
    overflow: auto;
    border-bottom: 1px solid;
}
li
{
    float: left;
}
a
{
    text-decoration: none;
    display: block;
    color: darkmagenta;
    padding: 15px 50px;
    width: 100%;
    border-right: 2px solid white;
}
.active
{
    background-color: rgb(18, 1, 27);
}
li a:hover:not(.active) {
    text-decoration: none;
    background-color: lightcoral;
  }
li:last-child a
{
    border: none;
}
#navbar
{
    background-image: url("https://cdn.pixabay.com/photo/2022/01/23/20/50/woman-6961929_960_720.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 99vw;
}
.right
{
    float: right;
}
.fa-home
{
    color: white;
    margin-right: 10px;
}
.drop
{
    list-style-type: none;
    display: none;
}
.drop li
{
    display: inline-block;
}
.drop-btn:hover .drop
{
    display: block;
}