body{
    margin: 0px;
    border: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(14, 44, 14, 0.561);
}
div{
    margin-top: 10px;
    border: 2px solid;
    box-shadow: 10px 5px 10px, 10px 5px 15px red;
}
#joker
{
    margin: 20px;
    border: 20px ridge blueviolet;
    padding: 20px;
    border-radius: 10px;
}
#wall
{
    margin: 20px;
    border: 10px groove rgb(190, 103, 190);
    padding: 20px;
    border-radius: 40px;
}
#bat
{
    margin: 20px;
    border: 28px double rgba(226, 107, 39, 0.849);
    padding: 20px;
    border-radius: 100px;
}
p
{
    text-shadow: 5px 5px 10px;
}