/* div p{
    background:rgba(82, 7, 105, 0.472) url("https://cdn.pixabay.com/photo/2022/01/07/07/13/chicago-6921297__340.jpg") no-repeat center;
    background-attachment: scroll;
    height: 50vh;
    width: 98vw;
} */
body{
    background: url("/html\ class/wallpaper-joker.jpg") no-repeat;
    background-size: cover;
    color: rgba(151, 100, 158, 0.815); 
    background-attachment: fixed;
    font-family: 'Comforter', cursive;
    font-family: 'Dancing Script', cursive;    
    font-weight: 500;
    font-size: 20px;
}