div
        {
            height: 250px;
            width: 250px;
            background-color: black;
            border: 2px solid rgb(175, 175, 36);
            border-radius: 250px;
        }
div :hover
{
    border-radius: 0px;
}
p{
    font-family: fantasy;
}