*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mySec
{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
}
.container
{
    width: 90%;
    background-color: salmon;
    margin: auto;
    display: flex;
}
.card
{display: flex;
    width: 100px;
    height: 300px;
    background-color: tomato;
    border: 2px solid black;
    text-align: center;
    color: seashell;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.card:nth-last-of-type(3)
{
    flex-grow: 3;

}
.card:nth-last-of-type(3):hover::after
{
    content: "HEllo";
}